
body{
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(var(--mdui-color-on-background));
    background-color: rgba(var(--mdui-color-background));
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

mdui-top-app-bar,.layout-header-right {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

@media screen and (max-width: 600px) {
    .layout-header-right {
        gap: calc(var(--gap) / 2);
    }
}
.layout-header-user-info{
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    height: 3.1rem;
    box-sizing: border-box;
    margin-right: 1.5rem;

}
.layout-header-user-info::part(button){
    padding: 0;

}


.layout-header-user-info span{
    margin-left: 0.4rem;
    display: flex;
    align-items: center;
    color: rgba(var(--mdui-color-on-background));
}
.layout-header-user-info mdui-menu-item{
    cursor: pointer;
}
.layout-main{
    height: calc(100vh);
}

.no-overflow{
    overflow: hidden;
}


.navigation-drawer::part(panel),*{
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--mdui-color-on-background) / 0.5) rgba(var(--mdui-color-background) / 0.5);
}


.navigation-drawer mdui-list {
    padding: var(--nova-padding);
}

.layout-main{
    overflow-y: auto;
    padding: var(--nova-padding);
    overflow-x: hidden;
}
#container {
    padding: calc(var(--nova-padding) * 2);
}

@media screen and (max-width: 600px) {
    #container {
        padding: calc( var(--nova-padding) / 2); /* 直接使用变量，无需calc */
    }
}

@media screen and (max-width: 840px) {
    #container {
        padding: var(--nova-padding);
    }
}

:root{
    --nova-padding: 1rem;
    --nova-border-radius: var(--mdui-shape-corner-extra-large);
    --gap: 0.5rem;
}

/* 顺时针旋转90度 */
.rotate-cw {
    animation: rotate-cw 0.5s forwards;
}

/* 逆时针旋转90度 */
.rotate-ccw {
    animation: rotate-ccw 0.5s forwards;
}

@keyframes rotate-cw {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes rotate-ccw {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}
.mdui-theme-dark mdui-card[variant="elevated"]{
    background: rgba(var(--mdui-color-surface-container));
}
@media (prefers-color-scheme: dark) {
    .mdui-theme-auto  mdui-card[variant="elevated"]{
        background: rgba(var(--mdui-color-surface-container));
    }
}


mdui-badge {
    height: var(--mdui-typescale-body-medium-line-height);
    font-size: var(--mdui-typescale-body-medium-size);
    padding: 0.5rem;
    line-height: var(--mdui-typescale-body-medium-line-height);
    letter-spacing: var(--mdui-typescale-body-medium-tracking);
    font-weight: var(--mdui-typescale-body-medium-weight)

}

